<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Optimal_Birth_Intervals.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Optimal_Birth_Intervals.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--<add key="WorkingDir" value="D:\Data\Birth Intervals\"/> -->
    <!-- "C:\Anth\Birth Intervals\" <- laptop -->
    <!-- "D:\Data\Birth Intervals\" <- anth computer -->
  </appSettings>
  <userSettings>
    <Optimal_Birth_Intervals.Properties.Settings>
      <setting name="MaxAge" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="ProbabilisticAFB" serializeAs="String">
        <value>False</value>
      </setting>
    </Optimal_Birth_Intervals.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <Optimal_Birth_Intervals.Properties.Settings>
      <setting name="ForwardIterations" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="MaternalMortalityFunc" serializeAs="String">
        <value>J</value>
      </setting>
    </Optimal_Birth_Intervals.Properties.Settings>
  </applicationSettings>
</configuration>